
$main_background_color:#FFF;
$bright_texts_color:#FFF;
$dark_text_color:#000;
$heading01_color:#000;
$accent_color01:#973EFF;
$accent_color02:#61d3e1;
$gray: #9A9A9A;
$light_gray: #C8C8C8;
$header_newsletter_bg_color: #2E1C47;
$footer_bg_color: #120B1D;