$page_space_from_top_mobile: 75px;
$page_space_from_top_desktop: 240px;
$mobile_side_margins: 37px;
$desktop_side_margins: 137px;
$desktop_boxed_width: 1312px;
$desktop_wide_width: 1600px;
$mobile_breakpoint: 768px;