.featured_posts , .older_posts{    
    padding-bottom:50px;
    h2{
        margin:0 0 rem(35px) 0;
    }
    @media screen and (min-width: rem($mobile_breakpoint)){ 
        padding-bottom:rem(50px , 'desktop');
        margin-top:rem(245px, 'desktop');
        @supports(display: grid){
            display: grid;
            grid-template-columns: minmax(180px , 1fr) repeat(3, minmax(250px, 390px)) minmax(180px , 1fr);
            gap: rem(50px , 'desktop') rem(50px, 'desktop');
            
            h2{
                grid-column: 2/5;
                text-align: left;
                margin-bottom:-5px;
                padding-bottom: 23px;             
                border-bottom:1px solid $light_gray;       
                font-size:rem(20px, 'desktop');
                
            }
            .sidebar_left{
                grid-column: 1/2;
                grid-row: 1/3                
            }
            .sidebar_right{
                grid-column: 5/6;
                grid-row: 1/3                
            }            
        }
    }
}
.older_posts{
    @media screen and (min-width: rem($mobile_breakpoint)){         
        margin-top:rem(80px, 'desktop');
        @supports(display: grid){
            .sidebar_left{
                grid-column: 1/2;
                grid-row: 1/5                
            }
            .sidebar_right{
                grid-column: 5/6;
                grid-row: 1/5;     
                .categories{
                    h2{
                        text-align: left;
                        border:0;
                        margin: 0;                    
                    }             
                    ul{
                        list-style-type: none;
                        margin: 0;
                        padding: 0;
                        display: inline-flex;           
                        flex-direction: column;
                        align-content: flex-start;
                        justify-content: flex-start;
                        text-align: left;                        
                        li{

                            a{
                                
                            }
                        }
                    }
                }        
            }            
        }

    }    
}
.older_posts_button{
    margin-top:rem(-60px);
    margin-bottom:rem(75px);
    text-align: center;
    transition: all 500ms ease-in-out;
    
    a{
        text-decoration: none;
        color:$dark_text_color;
    }
    h2{
        &::after{
            content:'. . .';      
            display: block;
            color:$gray;         
            font-size: 25px;   
        }
    }
    &:hover{
        transform: translate(0, -5px);
    }
    @media screen and (min-width: rem($mobile_breakpoint)){              
        margin-top:rem(50px , 'desktop');
        margin-bottom:rem(272px , 'desktop');        
        h2{
            font-size:rem(20px, 'desktop');
            margin: 0;
        }
    }

}
.blog_item{
    box-shadow: 0px 0px 31px -8px rgba(0,0,0,0.75);
    margin:0 $mobile_side_margins rem(35px) $mobile_side_margins;
    transition: all .5s ease;

    figure{
        margin-bottom: rem(17px);
    }

    h3{
        margin: 0px 22px 17px ;
        font-family: $ff-texts;
        font-size:rem(16px);
        line-height: 19px;
        font-weight: $fw-bold;
    }
    .post_excerpt{
        margin:0 22px 20px;        
        font-size:rem(10px);           
        line-height: 18px;
    }
    .read_button{
        display: block;
        padding: rem(11px, 'desktop') 0;
        font-size:rem(12px, 'desktop');
        font-weight: $fw-bold;
        text-align: center;
        border-top:1px solid $light_gray;
        color: $dark_text_color;
        text-decoration: none;
        width: 100%;
    }
    &:hover{
        transform: scale(1.05);
    }
    @media screen and (min-width: rem($mobile_breakpoint)){ 
        @supports(display: grid){            
            margin: 0;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;                    
        }

        & > *{
            display: flex;
            flex-flow: column nowrap;
        }    
        figure{
            margin-bottom: rem(37px, 'desktop');
        }        
        h3{
            margin: 0px 40px 45px ;
            font-size:rem(20px, 'desktop');
            line-height: 24px;
        }        
        .post_excerpt{
            margin:0 40px 55px;
            font-size:rem(18px, 'desktop'); 
            line-height: 28px;
        }    
        .read_button{
            margin-top: auto;     
            padding: rem(22px, 'desktop') 0;
            font-size:rem(18px, 'desktop');                   
        }

    }    

}

@media screen and (min-width: $mobile_breakpoint) and (max-width: 1580px){ 
    .featured_posts, .older_posts{        
        padding: 0 rem($desktop_side_margins , 'desktop')/3 3rem;
        @supports(display: grid){
            grid-template-columns: repeat(3, minmax(270px, 1fr)) ;
            gap:rem(40px, 'desktop') rem(40px, 'desktop')
        }     
        .sidebar_left,.sidebar_right{
            display: none;
        }
        h2{
//            margin-bottom: -10px;
//            padding-bottom:10px;
            grid-column: 1/4;
        }        
    }

}
@media screen and (min-width: 1580px){ 
    section.categories{
        display: none;
    }
}
