<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css">
    <link href="{{site.baseurl}}/assets/images/icons/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57" />
    <link href="{{site.baseurl}}/assets/images/icons/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60" />
    <link href="{{site.baseurl}}/assets/images/icons/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72" />
    <link href="{{site.baseurl}}/assets/images/icons/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76" />
    <link href="{{site.baseurl}}/assets/images/icons/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114" />
    <link href="{{site.baseurl}}/assets/images/icons/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120" />
    <link href="{{site.baseurl}}/assets/images/icons/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144" />
    <link href="{{site.baseurl}}/assets/images/icons/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152" />
    <link href="{{site.baseurl}}/assets/images/icons/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180" />
    <link href="{{site.baseurl}}/assets/images/icons/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png" />
    <link href="{{site.baseurl}}/assets/images/icons/android-icon-36x36.png" rel="icon" sizes="36x36" type="image/png" />
    <link href="{{site.baseurl}}/assets/images/icons/android-icon-96x96.png" rel="icon" sizes="96x96" type="image/png" />
    <link href="{{site.baseurl}}/assets/images/icons/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" />
    <link href="{{site.baseurl}}/assets/images/icons/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" />
    <title>{% if include.title And include.title != "" And include.title != nil %}{{include.title}}
        {{site.title_separator}} {% endif %} {{site.title}} </title>
</head>

<body>
    <header>        
        <div class="items_wrapper">
            <a class="logo" href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/images/postsharp_logo.svg" alt="postsharp logo"></a>
            <nav>
                <ul>
                    <li><a href="{{site.baseurl}}/">home</a></li>
                    <li><a href="{{site.baseurl}}/archive.html">archive</a></li>
                    <li><a href="#newsletter">subscribe</a></li>
                </ul>
            </nav>
        </div>
    </header>