<a id="newsletter"></a>
<section class="newsletter">
    <div class="items_wrapper">
        <img src="{{site.baseurl}}/assets/images/icons/subscribe.svg" alt="newsletter">
        <h2>Subscribe to our <br> newsletter</h2>
        <p>Stay up to date on all the latest releases, news and discounts.<br>Follow us on social media:</p>
        <form method="post" action="https://www.postsharp.net/Community/NewsletterSubscriptionHandler.ashx" id="aspnetForm" _lpchecked="1">
            <input name="source" value="blog" type="hidden">            
    
            <div class="form_elements">
    
                <div class="email_wrapper">
                    <input name="email" class="email_field" placeholder="Your email" type="email">
                </div>
                <div class="submit_wrapper">
                    <input type="submit" value="SUBSCRIBE" class="submit_button">
                </div>
            </div>
        </form>
        <ul class="socialmedia_links">
            <li><a href="https://twitter.com/{{ site.twitter_username }}"><img src="{{site.baseurl}}/assets/images/icons/twitter.svg"
                        alt=""></a></li>
            <li><a href="https://facebook.com/{{ site.facebook_username }}"><img src="{{site.baseurl}}/assets/images/icons/facebook.svg"
                        alt=""></a></li>
            <li><a href="https://www.linkedin.com/company/{{ site.linkedin_username }}"><img src="{{site.baseurl}}/assets/images/icons/linkedin.svg"
                        alt=""></a></li>                   
        </ul>
    </div>
</section>
