.newsletter{
    background-color: $header_newsletter_bg_color;
}
.newsletter .items_wrapper{
    color:$bright_texts_color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:70px;
    padding:rem(70px) $mobile_side_margins;
    
    h2{
    font-family: $ff-headings;
       font-size:rem(23px);
       font-weight: $fw-normal;
    }
    img{
        width:60px;
    }    
    p{
        text-align: center;
        font-size: rem(12px);                
    }
    .form_elements{
        display: flex;
        justify-content: center;
        margin-top:rem(20px);
        .email_field{
            padding: rem(10px);
            border:2px solid $accent_color02;
            background-color: transparent;
            font-family: $ff-headings;   
            font-size: rem(10px);
            line-height: rem(15px);
            color:$accent_color02;
            outline: none;
            outline-width: 0;
            
        }
        
        .submit_button{
            padding: rem(12px);
            background-color: $accent_color02;            
            border: none;
            color:$header_newsletter_bg_color;
            height: 100%;
        }
    }
    .socialmedia_links{
        list-style-type: none;
        display: flex;
        justify-content: center;
        padding: 0;
        margin-top:rem(50px);
        li{
            padding: 0 rem(15px);
        }
        img{
            width: rem(45px);
        }
    }
}

@media screen and (min-width: rem($mobile_breakpoint , 'desktop')){ 
    .newsletter .items_wrapper{
        margin:0 auto;
        padding: rem(133px, 'desktop') rem($desktop_side_margins , 'desktop')/3;
        @supports (display: grid){
            display: grid;
            grid-template-columns: minmax(90px, 130px) 3fr 3fr;
            grid-template-rows: 2fr 1fr 1fr;
            img{
                grid-column: 1/2;
                grid-row: 1/4;
                align-self: start;                
            }
            h2{
                grid-column: 2/3;
                align-self: start;
                text-align: left;
                margin: 0;      
            }
            p{
                grid-column: 2/3;
                grid-row: 2/3;
                text-align: left;
                margin: 0;
                align-self: start; 
                font-size: rem(17px, 'desktop');
                line-height: rem(27px, 'desktop');
            }
            #aspnetForm{
                grid-column: 3/4;
                grid-row: 1/4;            
                margin: 0;
                .form_elements{
                    .email_field{
                        padding: 0 rem(35px, 'desktop');
                        height: 100%;
                        width: 350px;
                    }
                    
                    .submit_button{
                        padding: 27px 62px;
                        font-size:rem(14px,'desktop');                                                
                    }
                }                
            }
            .socialmedia_links{
                grid-column: 2/3;
                grid-row: 3/4;
                justify-self: start;
                justify-content: start;
                margin: rem(20px , 'desktop') 0 0 0;
                
                li{
                    padding: 0 rem(40px, 'desktop') 0 0;
                    
                }   
            }
        }
        
    }        

}
@media screen and (min-width: rem(1600px , 'desktop')){ 
    .newsletter .items_wrapper{    
        width: $desktop_wide_width;
        margin:0 auto;
        padding-left: 0;
        padding-right: 0;
    }
}
@media screen and (min-width: 1024px){ 
    .newsletter .items_wrapper{
        h2{
            font-size:rem(41px , 'desktop');
            line-height:rem(51px , 'desktop');
        }
    }

}
@media screen and (min-width: 1410px) { 
    .newsletter .items_wrapper{
        h2{
            font-size:rem(60px , 'desktop');
            line-height:rem(70px , 'desktop');
        }
        p{
            margin-top:rem(20px, 'desktop');
        }
    }
}