.post_page {
    margin: rem($page_space_from_top_mobile) $mobile_side_margins;
    h1 {
        margin-bottom: rem(18px);
        font-size: rem(16px);
    }
    .post_details {
        margin-bottom: rem(27px);
        font-size: rem(9px);
        font-family: $ff-headings;
        color: $light_gray;
        span {
            color: $accent_color01;
        }
    }
    .post_content {
        margin: rem(10px) 0 rem(80px);
    }
    .post_footer_share_buttons {
        padding-bottom: rem(15px);
        border-bottom: 2px solid $light_gray;
        ul {
            display: flex;
            justify-content: center;
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
                width: 45px;
                height: 45px;
                margin: 0 15px;
            }
        }
    }
    .post_comments {
        margin: rem(150px) 0 rem(80px);
    }
}
@media screen and (min-width: rem($mobile_breakpoint)) {
    .post_page {
        p {
            font-size: 20px;
            line-height: 30px;
        }
        max-width: $desktop_boxed_width;
        margin: $page_space_from_top_desktop auto 0;
        @supports (display: grid) {
            display: grid;
            grid-template-columns: 2fr 2fr 0.5fr 50px;
            gap: rem(30px, "desktop");
        }
        .post_header {
            //height: 380px;
            @supports (display: grid) {
                grid-column: 1/5;

                display: grid;
                grid-template-columns: 2fr 2fr 0.5fr 50px;
                //grid-template-rows:1fr 1fr repeat(1fr * 3) 1fr;
                grid-template-rows: 1fr 1fr 3fr;
                height: 480px;
                gap: rem(10px, "desktop") rem(55px, "desktop");
            }
            h1 {
                font-size: rem(38px, "desktop");
                line-height: rem(48px, "desktop");
                @supports (display: grid) {
                    grid-column: 2 / 4;
                    align-self: start;
                    justify-self: start;
                    margin: 0;
                }
            }
            figure {
                @supports (display: grid) {
                    grid-column: 1/2;
                    grid-row: 1/4;
                }
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
            .post_details {
                font-size: rem(18px, "desktop");
                margin-top: rem(20px, "desktop");
                font-family: $ff-headings;
                @supports (display: grid) {
                    grid-column: 2 / 3;
                    grid-row: 2/3;
                }
            }
            .post_share_n_tag {
                grid-column: 2/3;
                grid-row: 2/3;
                justify-self: end;
                .post_category {
                    font-size: rem(14px, "desktop");
                }
            }
            .post_excerpt {
                p {
                    margin: 0;
                }
                @supports (display: grid) {
                    grid-column: 2 / 4;
                    grid-row: 3 /4;
                    align-self: end;
                    font-size: rem(20px, "desktop");
                    line-height: rem(30px, "desktop");
                }
            }
        }
        .post_content {
            max-width: 70%;
            margin-top: 40px;

            @supports (display: grid) {
                grid-column: 1/3;
                grid-row: 2/3;
                justify-self: end;
            }
        }

        .post_footer_share_buttons {
            ul {
                justify-content: flex-end;
            }
            @supports (display: grid) {
                grid-column: 1/3;
                grid-row: 3/4;
                margin-left: 30%;
            }
        }
        .post_comments {
            margin: rem(30px) 0 rem(80px);
            h3 {
                text-align: center;
            }
            @supports (display: grid) {
                grid-column: 1/3;
                grid-row: 4/5;
                margin-left: 30%;
            }
        }
    }
}
@media screen and (min-width: rem($mobile_breakpoint, "desktop")) and (max-width: rem($desktop_boxed_width, "desktop")) {
    .post_page {
        .post_header {
            padding: 0 rem($desktop_side_margins, "desktop") / 3;
        }
    }
}
