.archive_page {
    margin: rem($page_space_from_top_mobile + 50px) $mobile_side_margins;
    h1 {
        text-align: center;
        font-size:20px;
    }
    .archive_categories {
        margin-top: rem(40px);
        font-family: $ff-headings;
        &>ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            li {
                
                margin: 0 rem(10px) rem(10px) 0;                                                
                a {
                    display: block;
                    text-decoration: none;
                    color: $bright_texts_color;
                    background-color: $accent_color01;
                    padding: 0.3em 1em;                    
                    font-size: rem(10px);
                    transition: all 300ms ease-in-out;
                    &:hover{
                        background-color:$dark_text_color;
                    }
                }                
            }

        }
    }
    .category_posts {        
        font-size: rem(11px);
        h3 {
            margin: rem(50px) 0 rem(30px) 0;
        }
        .category_heading {
            color: $light_gray;
            display: flex;
            margin: 0 0 rem(15px) 0;
            & > * {
                display: block;
            }
            .date {
                width: 35%;
            }
        }
        ul {
            margin: 0;
            padding: 0;
            li {
                display: flex;
                border-bottom: 1px solid $light_gray;
                padding-bottom: rem(5px);
                margin-bottom:rem(5px);
                & > * {
                    display: block;
                }
                time {
                    width: 35%;
                    color: $gray;
                }
                a {
                    width: 65%;
                    color: $accent_color01;
                    text-decoration: none;
                    transition: all 300ms ease-in-out;
                    &:hover{
                        color:$dark_text_color;
                    }                    
                }
            }
        }
    }
    .blog_stats {
        display: flex;
        align-items: flex-start;
        margin-top: rem(40px);
        & > * {
            display: block;
        }
        h2 {
            width: 35%;
            margin: 0;
            text-align: left;
        }
        div {
            width: 65%;
            ul {
                padding: 0;
                margin: 0;
                list-style-type: none;
            }
        }
    }

    
}


@media screen and (min-width: rem($mobile_breakpoint , "desktop")) {
    .archive_page {        
        margin: rem($page_space_from_top_desktop) auto;
        padding: 0 $desktop_side_margins;
        h1 {
            text-align: left;
            margin: 0 0 rem(40px, 'desktop');
            font-size:rem(35px, 'desktop');
        }
        .archive_categories {
            display: flex;
            justify-content: space-between;        
            margin:rem(40px, 'desktop') 0 0 0;
            &>ul{
                justify-content: flex-start;   
                align-content: flex-start;
                margin-top:rem(30px, 'desktop');
                li{
                    margin: 0 rem(23px, 'desktop') rem(23px, 'desktop') 0;
                    a{
                        font-size: rem(18px,'desktop');
                        padding: rem(10px, 'desktop') rem(40px , 'desktop');                                               
                    }
                }
            }
        }
        .category_posts {        
            font-size: rem(18px, 'desktop');
            h3{
                font-size:rem(30px , 'desktop');                
                margin-top:rem(129px , 'desktop');
            }
            ul {
                li {
                    padding-bottom: rem(9px);
                    margin-bottom:rem(9px);
                }
            }
        }  
        .blog_stats {
            margin-top:rem(150px, 'desktop');
            font-size: rem(18px, 'desktop');
            h2{
                font-size: rem(30px, 'desktop');
            }
        }
      
    }
    
}
@media screen and (min-width: rem($desktop_boxed_width , "desktop")) {
    .archive_page {
        width: $desktop_boxed_width;
        padding: 0;
    }
}
